{
  purpose: BAD_ROWS
  input: {
    type: nsq
    streamName: bad
    channelName: es-loader-bad
    nsqlookupdHost: nsqlookupd
    nsqlookupdPort: 4161
    # Requird for dev as default is 500
    buffer: {
      recordLimit: 1
    }
    # Required even in local environment
    region: us-east-1
  }
  output: {
    good: {
      type: elasticsearch
      client: {
        endpoint: elasticsearch
      }
      cluster: {
        index: bad
      }
      aws: {
          region: us-east-1
      }
    }
    # Failed to load ES
    bad {
      type: strerr
      streamName: load_failed
      #nsqdHost: nsqd
      #nsqdPort: 4150
      region: us-east-1
    }
  }
}
